#hot {
    background-color: inherit;
  }
  .hot-item {
    padding: .6em;
  }
  .hI-head {
    margin-bottom: .5em;
  }
  .hI-text {
    margin-bottom: .6em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1em;
  }
  .hI-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .hI-pic a {
    margin-right: .5em;
    margin-bottom: .5em;
    width: 31%;
  }
  .hI-pic a:nth-of-type(7), .hI-pic a:nth-of-type(8), .hI-pic a:nth-of-type(9) {
    margin-bottom: 0;
  }
  .hI-pic a > img {
    width: 100%;
  }
  .hI-foot {
    margin-top: .8em;
  }
  .orgin {
    display: flex;
    font-size: 1em;
  }
 .info {
    display: inline-flex;
    padding: .3em 0;
    width: 90%;
  }
  .info > div {
    margin-left: 5px;
  }
  .info-name {
    font-weight: 600;
    letter-spacing: .1em;
  }
  .info-other {
    font-size: .8em;
    color: #999999;
  }
  .info-other span {
    margin-left: 1em;
  }
  .options {
    width: 10%;
  }
  .orgin img {
    margin-right: .5em;
    width: 2.4em;
    height: 2.4em;
    vertical-align: middle;
  }
  .more-btn {
    border: none;
    background-color: #fff;
    box-shadow: 0 0 0 transparent;
  }
  .fn-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 12px 0 8px;
    border-top: 1px solid #dbdbdb;
    color: #999999;
  }
  .fn-group a {
    display: inline-block;
  }
  .fn-group a img {
    width: 1.5em;
    vertical-align: middle;
  }