* {
    margin: 0;
    padding: 0;
}
table {
    margin: 30px 0 0 50px;
    border: 1px solid darkslategray;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
th {
    background-color: #efefef;
    color: #5c6b77;
}
th, td {
    padding: 10px 24px;
    border: 1px solid darkslategray;
    text-align: center;
}
td > button {
    padding: 0 5px;
}
.empty {
    padding: 30px 50px;
    width: 300px;
    height: 75px;
    text-align: center;
    font-size: 2em;
}
.total {
    font-weight: 600;
}

